[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart={{INSTALL_DIR}}/bin/kubelet \
  --config={{ INSTALL_DIR}}/conf/{{HOSTNAME}}-kubelet-config.yaml \
  --container-runtime=remote \
  --container-runtime-endpoint=unix:///var/run/containerd/containerd.sock \
  --hostname-override {{HOSTNAME}} \
  --image-pull-progress-deadline=2m \
  --kubeconfig={{INSTALL_DIR}}/conf/kubelet.kubeconfig \
  --network-plugin=cni \
  --register-node=true \
  --v=2
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
