[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart={{INSTALL_DIR}}/bin/kube-proxy \
  --config={{INSTALL_DIR}}/conf/kube-proxy.yaml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
