[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart={{ INSTALL_DIR }}/bin/kube-apiserver \
  --advertise-address={{ IP_ADDRESS }} \
  --allow-privileged=true \
  --apiserver-count=3 \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file={{ CERTS_DIR }}/ca.pem \
  --enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,PersistentVolumeClaimResize,DefaultStorageClass,DefaultTolerationSeconds,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota,Priority,PodSecurityPolicy \
  --etcd-cafile={{ CERTS_DIR }}/ca.pem \
  --etcd-certfile={{ CERTS_DIR }}/{{ HOSTNAME }}-etcd.pem \
  --etcd-keyfile={{ CERTS_DIR }}/{{ HOSTNAME }}-etcd-key.pem \
  --etcd-servers={{ETCD_SERVERS }} \
  --event-ttl=1h \
  --encryption-provider-config={{ INSTALL_DIR }}/conf/encryption-config.yaml \
  --insecure-bind-address=127.0.0.1 \
  --kubelet-certificate-authority={{ CERTS_DIR }}/ca.pem \
  --kubelet-client-certificate={{ CERTS_DIR }}/api-server.pem \
  --kubelet-client-key={{ CERTS_DIR }}/api-server-key.pem \
  --kubelet-https=true \
  --runtime-config=api/all \
  --service-account-key-file={{ CERTS_DIR }}/service-account.pem \
  --service-cluster-ip-range={{ SERVICE_CIDR }} \
  --service-node-port-range=30000-32767 \
  --tls-cert-file={{ CERTS_DIR }}/api-server.pem \
  --tls-private-key-file={{ CERTS_DIR }}/api-server-key.pem
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
